<% builds[:update_failed].each do |server| %>
  <div class="project failure">Update Failed on <%=server %> (You may have left the gate open)</div>
<% end %>

<% if builds[:failure].any? || builds[:building].any? %>
  <% builds[:failure].each do |checker| %>
    <%= erb :checker, :locals => {:checker => checker, :status => :failure} %>
  <% end %>
  <% builds[:building].each do |checker| %>
    <%= erb :checker, :locals => {:checker => checker, :status => :building} %>
  <% end %>
  <% if builds[:success].any? %>
    <div class="project success"><%= builds[:success].length %> other heifers are just dandy</div>
  <% end %>
<% elsif builds[:success].any? %>
  <div class="ok">All <%= builds[:success].length %> heifers happy as pigs in muck</div>
<% end %>
<div class="time">Checked the herd at <%= DateTime.now.strftime("%T") %></div>

<script type="text/javascript" charset="utf-8">
  status_update(<%= builds[:failure].size %>);
</script>
